body {
    background-image: url('../img/cool-background.png');
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
}

button > img{
    min-height: 120px;
} 

.luxury {
    color: cyan !important;
}

form {
    margin : 20px;
}

footer {

    background-image: url('../img/cool-background.png');
    background-repeat: repeat-x;
    background-size: cover;
    width: 100%;
   height: 100%;
}





